

@font-face {
	font-family: 'DINNext';
	src:url('../../fonts/ThemeNew/DINNEXT/DINNextLTArabic-Regular.eot');
	src:url('../../fonts/ThemeNew/DINNEXT/DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/ThemeNew/DINNEXT/DINNextLTArabic-Regular.woff2') format('woff2'),
		url('../../fonts/ThemeNew/DINNEXT/DINNextLTArabic-Regular.woff') format('woff'),
		url('../../fonts/ThemeNew/DINNEXT/DINNEXT/DINNextLTArabic-Regular.ttf')  format('truetype'),
		url('../../fonts/ThemeNew/DINNEXT/DINNEXT/DINNextLTArabic-Regular.svg#svgFontName') format('svg');
		font-style: normal;
		font-style: normal;
}



